/* //======================================边赛 补码 重购===================================================// */
.pay_qian{
	color: #FFE401;
	margin-left: 9rem;
    font-size: 1.3rem;
    margin-top: -3rem; 
}
.gr{
	font-size: 1rem;
    color: #FFE401;
    position: absolute;
    bottom: 0.5rem;
    left: 4.2rem;
}
.Urlbutton{
	width: 90%;
	margin: 5% 5% 0 5%;
	overflow: hidden;
}
button{
	border:1px solid #2D3141;
}
.Urlbutton button{
	height: 3.2rem;
	line-height: 3.2rem;
	color: #fff;
	float: left;
	text-align: center;
	width: 32%;
	background:#2D3141;
	margin-right:2% 
}
 .Urlbutton .Urlbutton_li3{
	margin-right:0; 
} 
/* .Urlbutton .Urlbutton_li2{
	margin-right:0; 
} */
 
#tanzhuan_he{
	margin:0;
}
.Urlbutton .on{
	height: 3.2rem;
	width:32%;
	background:url(../images/wwwr.png) no-repeat;
	background-size: 100% 100%;
}
	
/* //=======================================我的报名================================================================//  */
.mySign{
	margin:0 1.2rem;
}
.mySignUl{}
.mySignUl li{
	cursor: pointer;
	height: 6.4rem;
 	border-bottom:1px solid #2d3141;
	position: relative;
}
.myS_left_text{
	padding:1.3rem 0 0 1rem;
	padding-top: 1.3rem;
	color: #fff;
	font-size: 1.5rem;	
}
.myS_left_time{
	padding:0.5rem 0 0 1rem;
	color: #5F688B;
	font-size: 1.1rem;
}
.mySignli_right{
	position: absolute;
	top: 2rem;
	right: 1rem;
	color:#5F688B;
	white-space: nowrap;
	display: inline-block;
	/* background: #252534; */
	padding:0.5rem 1.0rem;
	border-radius: 1.0rem;
}
 .wei1{
	padding:0.3rem 1.3rem;
	border-radius: 2.0rem;
	border:1px solid #FFE401;
	color:#FFE401;
}
.wei2{
	padding:0.3rem 1.3rem;
	border-radius: 2.0rem;
	border:1px solid #72EDC3;
	color:#01FFC6;
}
.wei3{
	padding:0.3rem 1.3rem;
	border-radius: 2.0rem;
	border:1px solid #707AA2;
	color:#707AA2;
}
.wei4{
	padding:0.3rem 1.3rem;
	border-radius: 2.0rem;
	border:1px solid #A97CE0;
	color:#A97CE0;
} 
.wei5{
	padding:0.3rem 1.3rem;
	border-radius: 2.0rem;
	border:1px solid #A97CE0;
	color:#A97CE0;
} 

/* //=======================================个人中心================================================================//*/
 .PersonalCenter{
	width: 90%;
	margin:3.0rem 2rem;
	background: #2D3141;
	border-radius: 1.0rem;
	overflow: hidden;
 }
 .PictureDl{
	position: relative;
 }
 .PictureDl dd{	 
	padding-top: 4.6rem;
 }
.PictureDl dd img{
  	width:8.4rem;
	height: 8.4rem;
	border-radius: 50% 50%;
	margin:0 auto;
}
.PictureDl dt{
	padding-top: 1.8rem;
	margin-bottom: 3.8rem;
  	text-align: center;
 	color: #fff;
 	font-size: 1.2rem;

}
.PictureDl dt em{
	margin-right: 0.6rem;
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	background: #FFE401;
	border-radius: 50% 50%;
	vertical-align: middle;
}
.PicdivBox{
	background: #252835;
	overflow: hidden;
}
.Master_score{
	margin:3rem 0;
	float: left;
	width: 49%;
	border-right:2px solid #1F222D;
}
.energy_score{
	margin:3rem 0;
	float: right;
	width: 49%;
}
.Master_score span,.energy_score span{
	display:block;
	text-align: center;
}
.Master_spanup,.energy_spanup{
	color: #fff;
	font-size: 2.4rem;
}
.Master_spandown,.energy_spandown{
	margin-top: 0.5rem;
	color: #444A62;
	font-size: 1.2rem;
}
.PicBoxlink{
	margin:0 2rem;
	width: 90%;
	border-radius: 6px;
	background: #2D3141;
	height: 5.0rem;
	line-height: 5.0rem;
	font-size: 1.5rem;
	color: #fff;
	margin-bottom: 1rem;
}
.PicBoxlink p{
	text-indent: 1.4rem;
}
.PicBoxlink p span{
	margin:1.8rem 1.5rem;
	float: right;
	display: inline-block;
	width: 0.6rem;
	height: 1.2rem;
	background: url(../images/picright.png) no-repeat center;
	background-size: 0.6rem 1.2rem;
}

.PBEnge{
	margin:0 2rem;
	width: 90%;
	border-radius: 6px;
	background: #2D3141;
	height: 5.0rem;
	line-height: 5.0rem;
	font-size: 1.5rem;
	color: #fff;
	margin-bottom: 1rem;
}
.PBEnge p{
	text-indent: 1.4rem;
}
.PBEnge p span{
	margin:1.8rem 1.5rem;
	float: right;
	display: inline-block;
	width: 0.6rem;
	height: 1.2rem;
	background: url(../images/picright.png) no-repeat center;
	background-size: 0.6rem 1.2rem;
}
 
/* //===========================================成绩单============================================================//*/ 
.report{
	position: relative;
	
}
.reportBg{
	position: absolute;
	top: 3rem;
	right: 2rem;
	width: 8.9rem;
	height: 12.8rem;
	background: url(../images/reportbg.png) no-repeat;
	background-size: 100% 100%;
}
.report h2{
	width: 44%;
	display: inline-block;
	margin:4.0rem 0 0 2.2rem ;
	font-size: 2.0rem;
	color: #fff;
}
.tableBox{
	margin-top: 5rem;
}
.tableBox_ol{
	height: 4.6rem;
	line-height: 4.6rem;
	color: #fff;
	font-size: 1.4rem;
	background: #2A2D3C;
}
.tableBox_ol_p,.tableBox_ul{
	margin:0 2.0rem;
}
.tableBox_ol span,.tableBox_ul li span{
	display: inline-block;
	width: 32%;
}
.tableBox_ol_p span:nth-child(2),.tableBox_ul li span:nth-child(2){
	text-align:center; 
}
.tableBox_ol_p span:nth-child(3),.tableBox_ul li span:nth-child(3){
	text-align:right;
}
.tableBox_ul li{
	color: #707AA2;
	height: 4.1rem;
 	line-height: 4.1rem; 
	border-bottom:1px solid #252740;
}
.tableBox_ul li span{
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wapconpic,.wapconpic2,.wapconpic3{
	position: relative;
}
.wapconpic em{
	vertical-align: middle;
	margin-left: 3rem;
    height: 2.5rem;
    width: 2rem;
 /*    background: url(../images/winone.png) no-repeat;
 background-size: 2rem 2.5rem;
 display: inline-block; */

}
.tableBox_ul li:nth-child(1) .wapconpic em{
 	vertical-align: middle;
	margin-left: 3rem;
    height: 2.5rem;
    width: 2rem;
    background: url(../images/winone.png) no-repeat;
    background-size: 2rem 2.5rem;
    display: inline-block;
 }
 
  .tableBox_ul li:nth-child(2) .wapconpic em{
 	vertical-align: middle;
	margin-left: 3rem;
    height: 2.5rem;
    width: 2rem;
    background: url(../images/wintwo.png) no-repeat;
    background-size: 2rem 2.5rem;
    display: inline-block;
 }
   .tableBox_ul li:nth-child(3) .wapconpic em{
 	vertical-align: middle;
	margin-left: 3rem;
    height: 2.5rem;
    width: 2rem;
    background: url(../images/winthree.png) no-repeat;
    background-size: 2rem 2.5rem;
    display: inline-block;
 }
  
/* //===========================================报名信息============================================================//*/ 
.registInfo{
	position: relative;
}
.stInfobg{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 26.5rem;
	background: url(../images/Mybg.png) no-repeat;
	background-size: 100% 100%;
	z-index: 1;
}
.fu_stInfobg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: red;
	z-index: 2;
}
.stInfoBoxUP{
	margin:8.6rem 2.0rem 3.7rem 2.0rem;
}
.InfoBoxUP_h2{
	margin-bottom: 1.8rem;
	font-weight: bold;
	color: #fff;
	font-size: 2.2rem;
}
.InfoBoxUP_h2 em{
	margin-right: 1.2rem;
	vertical-align: middle;
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	background: url(../images/baosucces.png) no-repeat;
	background-size: 100% 100%;
}
.InfoBoxUP_text p{
	color: #fff;
	font-size: 1.2rem;
	line-height: 2.2rem;
}
.stInfoBoxDown{
	margin:0 2.0rem;
}
.sfDowntabx{
	margin-bottom: 2.0rem;
}
.sfDown_ul{
	text-align: center;
	overflow: hidden;
	color: #fff;
	font-size: 1.4rem;
}
.sfDown_ul li{
	border-radius: 0.5rem;
	background: #2D3141;
	height: 2.6rem;
	line-height: 2.6rem;
	margin-right:5%;
	float: left;
	width: 30%;
}
.sfDown_ul li:nth-last-child(1){
	margin-right: 0;
}
.sfDown_ul li.text_on{
	height: 2.6rem;
	width:30%;
	background:url(../images/wwwr.png) no-repeat;
	background-size: 100% 100%;
}
.sfDowncontent{
}
.contentBox{
}
.contentBox_ol{
	border-top:1px solid #252740;
}
.contentBox_ol li{
	cursor: pointer;
	color: #707AA2;
	font-size: 1.3rem;
	height: 4.0rem;
	line-height: 4.0rem;
	border-bottom: 1px solid #252740;
}
.contentBox_ol li span{
	display: inline-block;
	height: 100%
}
.ctBoxSpan1{
	 width: 10%;
}
.ctBoxSpan2{
	white-space: nowrap;
	width: 27%;
	text-align: right;
}
.ctBoxSpan3{
	width: 43%;
	text-align: center;
}
.ctBoxSpan4{
	text-align: right;
	width: 18%;
}

.mySignUl .aa{
	background: red;
}
 
 
/*  //=============================================能量充值=========================================================// */

.wapEng{
 
}
.wapEngUP{
	position: fixed;
    height: 48%;
    top: 0;
    left: 0;
    width: 100%;
   
    overflow: hidden;
    overflow-y: scroll;
}
.wapEngUP_ul{
	 margin: 0 1.3rem;
}
.wapEngUP_ul li{
	cursor: pointer;
	position: relative;
	height: 6rem;
	line-height: 6rem;
	border-bottom: 1px solid #252740;
}
 
.Engleft{
	float: left;
	font-size:1.4rem;
	color: #FFFFFF;
}
.Engleft strong{
	margin-left: 0.5rem;
	vertical-align: middle;
	display: inline-block;
	width: 0.7rem;
	height: 1.2rem;
	background: url(../images/nnnn.png) no-repeat right center;
	background-size: 100% 100%;
}
.Engright{
	float: right;
	color:#FFE401;
	font-size: 1.2rem;
}
.Engright p{
	margin-right: 3rem
}
.Engright em{
	position: absolute;
    right: 0;
    top: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
    background: url(../images/ybg.png) no-repeat;
    background-size: 100% 100%;
}
.waphlin{
	width: 100%;
	position: fixed;
	left: 0;
	top: 48%;
	height: 2%;
	background:#000000;
}
.wapDown{
	 position: fixed;
	 bottom: 0;
	 left: 0;
	 height: 50%;
	 width: 100%;
	
}
.downEol{
  margin:0 1.3rem;
}
.downEol li{
	cursor: pointer;
	position: relative;
	color: #fff;
	height: 6rem;
	font-size: 1.4rem;
	border-bottom:1px solid #252740;
}

.downEol li span{
	float: left;
	width:3.0rem;
	height: 3.0rem;
	display: inline-block;
	margin: 1.3rem 1.3rem 1.3rem 0;
}

.downEol li em{
	position: absolute;
	right: 0;
	top:1.8rem;
	width: 2.2rem;
	height: 2.2rem;
	background: url(../images/ybg.png) no-repeat;
	background-size:100% 100%;
 }
 .downEol li p{
	line-height: 6.0rem;
}
 .downEol_gr{
	font-size: 1rem;
    color: #FFE401;
    position: absolute;
    bottom: 0.5rem;
    left: 4.2rem;
}
.downEol_pic{
	background: url(../images/y.png) no-repeat;
	background-size: 100% 100%;
}
.downEol_picWei{
	background: url(../images/w.png) no-repeat;
	background-size: 100% 100%;
}
.button_lick{
    width: 90%;
    margin: 0 1.5rem;
    color: #21273B;
    height: 3.5rem;
    line-height: 3.5rem;
    background: #FFE401;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-top: 5.1rem;
    margin-bottom: 5.1rem;
}

.wapEngUP_ul .onEng em{
	background: url(../images/yuan.png) no-repeat right center;
	background-size: 100% 100%;
}
.wapDown .onYemEng em{
	background: url(../images/yuan.png) no-repeat right center;
	background-size: 100% 100%;
}

/* //======================================支付密码================================================// */
.passBOx{
	display: none;
	width: 100%;
    height: 100%;
    background: #1C1C28;
    position: fixed;
    top: 0;
    left: 0;
}
.paypassword{
	width: 90%;
	margin:0 auto;
}
.paypassword h2{
	margin-top: 2.7rem;
	font-size: 1.4rem;
	color: #fff;
	font-weight:bold;
}
.pasword{
	    position: relative;
    /* background: url(../images/passbgkuang.png) no-repeat; */
    background-size: 100% 100%;
    border: 1px solid #2D3141;
    height: 5.0rem;
    border-radius: 7px;
    margin: 1rem 0;
    overflow: hidden;
}
.forget{
	font-size:1.3rem;
	color: #FFE401;
	float: right;
}
.passwordbutton{
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	background:#FFE401;
	font-size: 1.7rem;
	color: #21273B;
	border:0;
	font-weight: bold;
	border-radius: 5px;
	margin:5.0rem 0;
}
.paswordcold{
	background: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: 0;
    font-size: 3.2rem;
    color: #fff;
    text-indent: 2.4rem;
    letter-spacing: 3.5rem;
    top: 0;

}
.fake_box{
	position: absolute;
    top: 0;
    z-index: 1;

}

/* //======================================设置支付密码================================================// */
.setpaypassword{
	background: #1C1C28;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
	display: none;
}
.setwordBox{
	width: 90%;
	margin:0 auto;
}
.setwordBox p{
	font-size:1.4rem;
	color: #fff;
	font-weight: bold;
}
.setwordBox p:nth-child(1){
	margin-top:2.8rem;
}
.Formset{
	border:1px solid #2D3141;
	height: 5.0rem;
	line-height: 5.0rem;
	background:#404861;
	border-radius: 5px;
	margin-top: 1.2rem;
	margin-bottom: 1.8rem;
	overflow: hidden;
}
.newcold,.oldcold{
	margin:0 1rem;
	height: 100%;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 5px;
	background: 0;
}
input::-webkit-input-placeholder {
	color: #535972
}
.usercold{
	color: #fff;
	font-weight: bold;
	text-indent: 1.2rem;
	font-size: 1.5rem;
	float: left;
	width: 70%;
	height: 100%;
	background: 0;
}
.sendcold{
	font-size: 1.4rem;
	width: 30%;
	height: 100%;
	background: 0;
	color: #666;
	/* color: #FFE401 */
}
.setbuttonmit{
	margin:4rem 0;
	background: #FFE401;
	height:4.5rem;
	line-height: 4.5rem;
	font-size:  1.7rem;
	color: #21273B;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
}
 


.pwd_ox{
	margin: 1rem 0;
	border-radius: 3px;
	position: relative;
	height: 6.9rem;
	width: 100%;
	border:1px solid #404861;
}
.pwd_ox input[type="number"]{
	background: 0;
 	width: 100%;
 	height: 100%;
 	position: absolute; 
 	font-size: 4rem;
 	letter-spacing: 3rem;
 	color: #FFE401;

}
.fake_box input{
	background: 0;
	float: left;
    display: inherit;
    width: 16%;
    height: 6.9rem;
    border: none;
    border-right: 1px solid #404861;
    text-align: center; 
}
.fake_box input:last-child{
	border-right: 0;
}


.blik{
	line-height: 50.0rem;
	height: 10.0rem;
	width: 10.0rem;
	font-size: 2rem;
	position: absolute;
	top: 50%;left: 50%;
	margin-left: -5.0rem;
}



/*  ///提示确认弹框/// */
.paypassalert{
	position: relative;
	border-radius: 0.5rem;
	position: fixed;
	height: 22.5rem;
	width: 90%;
	margin:50% 1.5rem;
	background: #2D3141; 
}  
.paypassalert p{
	font-weight: bold;
	line-height: 5.6rem;
	height: 5.6rem;
	color: #fff;
	text-align: center;
	font-size:1.7rem;
	border-bottom: 1px solid #252936;
}
.textmassg{
	word-wrap:break-word;
	text-align: center;
	color: #fff;
	font-size:1.7rem;
	margin:2rem 2rem;
}
.qrclick{
	bottom: 1rem;
	position: absolute;
	margin:0 1.5rem;
	width: 90%;
	border-top:1px solid #252936;
	background: #FFE401;
	font-weight: bold;
	line-height: 5.3rem;
	height: 5.3rem;
	color: #333;
	text-align: center;
	font-size:1.7rem;
	border-radius: 0.5rem
 
}
.paypassalert.qrclick{
	color: #000;
}
.paypassalerttwo{
	font-size: 1.5rem;
	text-align: center;
	color: #fff;
	width: 90%;
	margin:50% 1.5rem;
	padding:3rem 0;
	background: #2D3141;
	border-radius: 5px;
}


 
 /*/fudongceng*/
 .mm_box { 
	width: 100%; 
	margin: 0 auto; 
	height: 5.0rem; 
	overflow: hidden; 
}
.mm_box li { 
	border-right: 1px solid #404861; 
	height: 100%; 
	float: left; 
	width: 16.3%; 
	/* background: #FFF; */ 
}
.mm_box li.mmdd{ 
	background:#1C1C28 url(../images/paytuoyuan.png) center no-repeat ; 
	background-size:25%;
}
.mm_box li:last-child { 
	border-right: none; 
}
.numb_box { 
	position: absolute; 
	background: #f5f5f5; 
	width: 100%; 
	bottom: 0px; 
}
.xiaq_tb { 
	 width: 2.3rem;
	 height: 1.3rem;
	 padding:0.6rem 0;
	 margin:0 auto;
}
.nub_ggg { 
	border: 1px solid #dadada; 
	overflow: hidden; 
	border-bottom: none; 
}
.nub_ggg li { 
	width: 33.3333%;
	 border-bottom: 1px solid #dadada; 
	 float: left; 
	 text-align: center; 
	 font-size: 22px; 
}
.nub_ggg li a { 
	display: block; 
	color: #000; 
	height: 50px; 
	line-height: 50px; 
	overflow: hidden; 
}
.nub_ggg li a:active  { 
	background: #e0e0e0;
}
.nub_ggg li a.zj_x { 
	border-left: 1px solid #dadada; 
	border-right: 1px solid #dadada; 
}
 






 
/* //==============支付密码不居中===================// */

/* 适配 */
/*  @media screen and (max-width:480px) { 
 	.paswordcold {
	     text-indent: 2.4rem;
   	letter-spacing: 4.3rem;
	}  
} */

@media screen and (max-width:414px) { /* 苹果pluse */
		.paswordcold {
	         text-indent: 2rem;
   			 letter-spacing: 3.5rem;
 	}
     
}	
/*    @media screen and (max-width:375px) {
 .paswordcold {
 	    text-indent: 2.4rem;
 	    letter-spacing: 3.5rem;
 	}
 	 
 }     */ 	

 @media screen and (max-width:360px) {/* opperR9   meizupr6*/
   .paswordcold {
	    text-indent: 2rem;
	    letter-spacing: 4.5rem;
	}
}
/* 
  @media screen and (max-width:320px) {wu
     .paswordcold {
	    text-indent: 1.8rem;
	    letter-spacing: 3rem;
	}

}   */




 