.pageBOx{
	width: 100%;
	height: 100%;
	background:rgba(26,28,62,1);
}
.head{
	display: flex;
	height: 10%;
	width: 100%;
}
.cent{
	height:85%;
	width: 100%;
/* 	background: pink; */
}
.foot{
	height: 5%;
}
.foot p{
	font-size:14px;
	font-weight:400;
	padding:0.6% 1% 0 1%;
	color: #fff;
}
.logo1{
	width: 114px;
	height:46px;
	margin: 1% 0 0 1%; 
}
.logo2{
	width: 70px;
	height: 70px;
	margin: 0.5% 0 0 1%;
}
.headp{
	width: 70%;
	overflow: hidden;
	font-size:14px;
	font-weight:400;
	color:rgba(255,255,255,1);
	margin: 1%;
	line-height:22px;
}
.lookmore{
	background: rgba(26,28,62,1);
	display: block;
	border: 1px solid rgba(67,197,255,1);
	position: absolute;
	right: 5%;
	top: 7%;
/* 	top: 3%; */
	font-size: 16px;
	font-weight: 600;
	padding: 9px 30px;
	border-radius: 7px;
	color: rgba(255,255,255,1);
}
.centL{
	position: relative;
	margin-left:1%;
	width: 48%;
	height: 100%;
	background: #252749;
}
.centR{
	margin-right: 1%;
	width: 48%;
	height: 100%;
/*     background: #f6f6f6; */
}
.titleh2{
	height: 4%;
	/* height:30px; */
	font-size:22px;
	font-weight:600;
	line-height:30px;
	color:rgba(255,255,255,1);
	padding: 1% 2%;
}
.introduce{
	width: 75%;
	height: 9%;
	/* height:75px;  */
	font-size:14px;
	font-weight:400;
	line-height:25px;
	color:rgba(255,255,255,1);
	padding:1% 2%;
}
.load{
	display: block;
	width: 5%;
	height: 5%;
	margin:0 auto;
}
.load img{
	display: block;
	width:100%;
	height: 100%;
}

.list{
	/* background: red; */
	height: 83%;
	width: 100%;
	/* overflow-y: scroll; */
	/* height: 640px; */
	/* 解决ios上滑动不流畅 */
	-webkit-overflow-scrolling: touch;
}
.list::-webkit-scrollbar {display:none}
.list li{
	display: flex;
 	margin:0 4% 1.5%;
	height: 18%;
	background: #3C3C5B;
}
.list li a{
	width: 100%;
}
.liLimg{
	width: 88px;
	height: 82px;
	margin: 9px 10px 9px 6px;
}
.box{
	position: relative;
	width: 70%;
	overflow: hidden;
}
.box h3{
	height:18%;
}
.box p{
	/* border:1px solid red; */
	position: absolute;
	right: 0;
	font-size:14px;
	line-height:100px;
	color:rgba(255,255,255,1);
}
.box h3 span{
	display: block;
	height:28px;
	font-size:20px;
	font-weight:400;
	line-height:28px;
	color:rgba(255,255,255,1);
	margin: 15px 0 20px 0;
}
.b{
/* 	position: absolute; */
/* 	border:1px solid red; */
 	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	font-size:16px;
	line-height:35px;
	font-weight: normal;
	color:rgba(255,255,255,1);
}
.liRimg{
	width: 50px;
	height: 50px;
	margin:25px 15px;
}
.centRtop{
	height:48.9%;
	background:rgba(37,39,73,1);
}
.mt4{
	width: 30%;
	/* width: 293px; */
	height: 165px;
	margin: 72px 20px 0 3%;
}
.frbox{
	color: #fff;
	width:60%;
/* 	border:1px solid red;  */
}
.frbox p{
	font-size:20px;
	line-height:25px;
	font-weight:600
	color:rgba(255,255,255,1);
	margin-bottom:15%;
}
.frbox input{
	width:374px;
	height:45px;
	display: block;
	background:rgba(255,255,255,1);
	border:1px solid rgba(112,112,112,1);
	font-size:14px;
	text-indent: 12px;
	color:rgba(175,175,175,1);
	border: none;
	margin: 0 auto 29px;
}
.frbox input{
	width:70%;
	height:45px;
	display: block;
	background:rgba(255,255,255,1);
	border:1px solid rgba(112,112,112,1);
	font-size:14px;
	text-indent: 12px;
	color:rgba(175,175,175,1);
	border: none;
	margin: 0 auto 29px;
}
.frbox input::-webkit-input-placeholder {
	color:rgba(175,175,175,1);
}
.frbox h4{
	width:20%;
	background:rgba(67,197,255,1);
	border-radius:7px;
	text-align: center;
	font-size:16px;
	line-height:1;
	color:rgba(255,255,255,1);
	margin: 0 auto;
	padding:12px;
	cursor: pointer;
}
.frbox ul{
	padding-left: 56px;
	margin-bottom: 35px;
}
.frbox ul li{
	height:22px;
	font-size:16px;
	font-weight:600;
	line-height:40px;
	color:rgba(255,255,255,1);
	margin-bottom:18px;
	position: relative;
}
.frbox ul li:before{
	content: "";
	width:6px;
	height:6px;
	background:rgba(0,255,235,1);
	border-radius:50%;
	position: absolute;
	top: 16px;
	left: -10px;
}
.Tips{
	margin-top: 0.3rem;
	text-align: center;
	color: red;
	font-size: 0.32rem;
}

 
/* 
@media (max-width: 320px) {
	html{font-size: 8.33px;}
} 
@media (max-width: 360px) {
	html{font-size: 9.38px;}
} 
@media (max-width: 375px) {
	html{font-size: 9.77px;}
} 
@media (max-width: 414px) {
	html{font-size: 10.78px;}
} 
@media (max-width: 480px) {
	html{font-size: 12.5px;}
	.page,.cent,.centL,.centR{
		width: 100%;
	}
	.centL{
		margin-bottom: 55px;
	}
	.lookmore{
		clear: both;
		float: left;
		margin: 50px 050px 295px;
	}
	.introduce{
		width: 90%;
	}
	.list li{
		width: 80%;
	}
	.frbox{
		width: 55%;
	}
	.headp,.introduce,.foot{
		height: auto;
		line-height: 40px;
	}
} 
@media (min-width: 768px) {
	html{font-size: 20px;}
} 
@media (min-width: 960px) {
	html{font-size: 25px;}
} 
@media (min-width: 1024px){
	html{font-size: 26.67px}
} 
@media (min-width: 1100px) {
	html{font-size: 28.65px}
} 
@media (min-width: 1280px) {
	html{font-size: 33.33px;}
} 
@media (min-width: 1366px) {
	html{font-size: 35.57px;}
}  
@media (min-width: 1440px) {
	html{font-size: 37.5px;}
} 
@media (min-width: 1680px) {
	html{font-size: 43.75px;}
} 
1比50rem 1920/50=38.4倍率 按此计算1680/38.4 1440/38.4
@media (min-width: 1920px) {
	html{font-size: 50px;}
} 
 */